{% load account %}
{% load i18n %}

{% block content %}
{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="email.css">
    <style type="text/css">
        
    </style>
</head>

<body style="margin: 0 !important; padding: 0 !important;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="#FFF" align="center" valign="top" style="padding: 40px 0px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'NotoSerifKR', Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 400; letter-spacing: 0.66px; line-height: normal;">
                <p>이메일 주소 인증 메일</p> 
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFF" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 420px;">
                    <tr>
                        <td bgcolor="#FFF" align="left" style="color: #000; font-family: 'Arial'; font-size: 15px; font-weight: 400; line-height: 24px;">
                            <p style="margin: 0;">LINRING 서비스 이용을 위해 계정 인증을 요청하였습니다.</p>
                            <p style="margin: 0;">아래 버튼을 클릭하면 계정 인증이 완료됩니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 14px 0px; text-align: center; color: #000; font-family: Arial; font-weight: 700; letter-spacing: 0.45px;">
                            <p style="background: #F7F7F7; padding: 14px 0px;">{{ user_display }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 36px 0px">
                            <a style="padding: 14px 54px; text-decoratior: none; background: #383840; color: #FFF; border-radius: 30px;">계정 인증하기</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>

{% endblocktrans %}
{% endautoescape %}
{% endblock %}